<!--The content below is only a placeholder and can be replaced.-->
<img style="text-align:center" xmlns:background-color="http://www.w3.org/1999/xhtml"
     xmlns:background-color="http://www.w3.org/1999/xhtml">

<br>
<br>

<div class="container" style="background-color: mediumpurple">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink="/setup">Set up</a> </li>
        <li role="presentation"><a routerLink="/doc">Documentation</a> </li>
        <!--li role="presentation"><a routerLink="/followup">Follow-ups</a> </li-->
      </ul>
    </div>
  </div>
</div>

<br>
<br>
<br>
<body style="background-color: rebeccapurple">
  <router-outlet></router-outlet>
</body>


