<!--The content below is only a placeholder and can be replaced.-->
<img style="text-align:center" xmlns:background-color="http://www.w3.org/1999/xhtml"
     xmlns:background-color="http://www.w3.org/1999/xhtml">

<br>
<br>
<br>
<br>
<br>

<router-outlet></router-outlet>
<!--
<div align="middle">
  <h1>
    Welcome to the Medical Portal!
  </h1>
  <h2>
    Powered by
  </h2>
  <img src="../assets/Athenahealth.jpg"
       width="300" alt="Athena Logo">
</div>
<br>
<br>  -->
<button class="button"
        style="position: center"
        (click)="start()">Start</button>


