<!--The content below is only a placeholder and can be replaced.-->
<img style="text-align:center" xmlns:background-color="http://www.w3.org/1999/xhtml"
     xmlns:background-color="http://www.w3.org/1999/xhtml">
  <br>


<ul>

  <h2 class="prompt">Patient's Name</h2>

  <br>
  <div class="container-fluid">
    <div class="row" align="middle">
      <input class="field" align="left"
               [(ngModel)]="firstName">
      <input class="field" align="right"
               [(ngModel)]="lastName">
    </div>
  </div>

  <br><br>
  <h2 class="prompt">Date of Birth</h2>
  <br>
  <div class="row" align="middle">
  <input class="field" align="left"
                [(ngModel)]="DOB">
  </div>
  <br>
  <h2 class="prompt">Phone Number</h2>
  <br>
  <div class="row" align="middle">
    <input class="field" align="middle"
           [(ngModel)]="phone">
  </div>

  <br><br>
  <div align="middle">
    <button class="save"
            [disabled]="filled==true"
            (click)="setupPatient()">Continue</button>
  </div>

</ul>

